* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin:0;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C0DC89, #585858);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C0DC89, #585858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'IBM Plex Serif', serif;
}

.container {
    max-width: 1000px;
    min-height: calc( 100vh - 20px );
    margin: 0 auto;
    padding: 20px 30px 0 30px;
    background-color: #fff;
}

nav {
    background-color: #84C203;
}
nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #618E01;
}
nav ul a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}

/** SIMPLE MENU **/
.simple ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.simple ul li {
    margin-bottom: 0.5;
    text-align: center;
}

@media screen and (min-width:768px) {
    .simple ul {
        flex-direction: row;
    }
    .simple ul li {
        margin-bottom: 0;
    } 
}

/** ICONS MENU **/
.icons .icon {
    flex: 0 1 2rem;
}

.icons ul li a {
    display: flex;
    justify-content: center;
}

.icons .text span {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

@media screen and (min-width:480px) {
    .icons ul {
        display: flex;
        flex-wrap: wrap;
    }
    .icons ul li {
        flex: 0 1 50%;
    }
}

@media screen and (min-width:768px) {
    .icons ul li {
        flex: 1;
    }
}

/** DROPDOWN MENU **/
.dropdown ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}

.dropdown ul li {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .dropdown ul li {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }
    .dropdown ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #84C203;
    }

    .dropdown ul li:hover ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}